xlogin*greeting:
xlogin*echoPasswd: true
xlogin*fail: no way

xlogin*height: 200
xlogin*width: 400
xlogin*y: 485
xlogin*frameWidth: 10
xlogin*innerFramesWidth: 0

xlogin*background: #000000
xlogin*foreground: #eeeeee
xlogin*failColor: #cc0000
xlogin*inpColor: #cc0000
xlogin*promptColor: #eeeeee
xlogin*hiColor: #000000
xlogin*shdColor: #000000

xlogin*face: spleen-13
xlogin*failFace: spleen-13
xlogin*promptFace: spleen-13

xclock*analog: false
xclock*chime: false
xclock*render: false
xclock*twentyfour: true
xclock*update: 10
xclock*borderWidth: 0
xclock*background: #000000
xclock*foreground: #eeeeee
xclock*borderWidth: 0
xclock*font: -*-*spleen-*-*-*-*-16-*-*-*-*-*-*-*

xmessage*background: #000000
xmessage*foreground: #eeeeee
xmessage*borderWidth: 0
xmessage*message.scrollHorizontal: Never
xmessage*message.scrollVertical: Never
xmessage*timeout: 0
xmessage*font: -*-*spleen-*-*-*-*-16-*-*-*-*-*-*-*
