xlogin.Login.greeting:
xlogin.Login.echoPasswd: true
xlogin.Login.fail: no way

xlogin.Login.height:           200
xlogin.Login.width:            400
xlogin.Login.y:                320
xlogin.Login.frameWidth:       10
xlogin.Login.innerFramesWidth: 0

xlogin.Login.background:       #000000
xlogin.Login.foreground:       #eeeeee
xlogin.Login.failColor:        #b00035
xlogin.Login.inpColor:         #000000
xlogin.Login.promptColor:      #eeeeee
xlogin.Login.hiColor:          #000000
xlogin.Login.shdColor:         #000000

xlogin.Login.face:             spleen-13
xlogin.Login.failFace:         spleen-13
xlogin.Login.promptFace:       spleen-13

xclock.Clock.analog:           false
xclock.Clock.chime:            false
xclock.Clock.render:           false
xclock.Clock.twentyfour:       true
xclock.Clock.update:           10
xclock*borderWidth:            0
xclock*background:             #000000
xclock*foreground:             #eeeeee
xclock*borderWidth:            0

xmessage*background:           #000000
xmessage*foreground:           #eeeeee
xmessage*borderWidth:          0
