#!/bin/sh

LOGO=/etc/X11/xenodm/pixmaps/puffy-red.png

/usr/X11R6/bin/xsetroot -solid \#000000
/usr/X11R6/bin/xset fp+ /usr/local/share/font/spleen


if [ -f $LOGO ]; then
    /usr/local/bin/feh -B#000000 -g 320x320+11+0 -. \
    -Z $LOGO &
fi

(
while true; do
    xmessage -geometry +11-11 -buttons "sleep":20,"restart":21,"shutdown":22 ""
    ACTION=$?
    echo "Xmessage said: $ACTION"
    if   [ $ACTION -eq 20 ]; then /usr/sbin/zzz;
    elif [ $ACTION -eq 21 ]; then
        xsetroot -cursor_name watch
        /sbin/shutdown -r now
    elif [ $ACTION -eq 22 ]; then
        xsetroot -cursor_name watch
        /sbin/shutdown -p now
    else echo "Xmessage failed.";
    fi
    if [ -z "$(pgrep -U root xclock)" ]; then break; fi
done
) &

xclock -geometry -11+11 -strftime "%a. %d %b. %Y  %H:%M" &
